* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  color: white;
  background: #ebf2f5;
}

:root {
  font-size: 62.5%; /* 10% */
}

body,
input,
button,
textarea {
  font: 400 1.8rem/1 'Nunito', sans-serif;
  /* União de todas as propriedades de font*/
  /* font-size: 18px; line-height: 1; font-weight: 400;
      font-family: 'Nunito', sans-serif;*/
}

/* O que é uma regra css?*/
/* body {
  color: red;
} */
/* body {
  color: green;
} */
/* Cascata significa que o css sempre vai considerar 
o últmo elemento, no caso acima o body fica em green */
