<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <!-- Configurações do documento -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Happy</title>

  <link rel="icon" href="/images/logo-icon.png" />
  <!-- Colocando um icone na página -->

  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/animations.css" />
  <link rel="stylesheet" href="/css/page-landing.css" />

  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet" />
</head>

<body>
  <div id="page-landing">
    <div id="container">
      <header>
        <!-- Cabeçalho da página -->
        <img class="animate-up" id="logo" src="/images/logo.svg" alt="Logomarca de Happy" />
        <div class="location animate-up">
          <!-- Caixinha genérica-->
          <strong>Porto Alegre</strong>
          <!-- Display ocupando apenas um espaço da linha -->
          <p>Rio Grande do Sul</p>
          <!--Display que ocupa a linha inteira -->
        </div>
      </header>

      <main>
        <!-- Conteúdo principal da página -->
        <h1 class="animate-up">Leve felicidade para o mundo</h1>
        <section class="visit">
          <p class="animate-up">
            Visite orfanatos e mude o dia de muitas crianças
          </p>

          <a href="/orphanages" title="Visite orfanatos" class="animate-up">
            <img src="/images/arrow.svg" alt="Ir para o mapa" /></a>
        </section>
      </main>
    </div>
  </div>
</body>

</html>

<!-- 
  HTML
    HyperText 
      Hipertexto - Contém links, vídeos e imagens
    Markup 
      Marcação - Utilização de <tags>
    Language
      Linguagem/ Sintaxe
      Não é linguagem de programação
-->